In [1]:
import pandas as pd
import dataprofile
from dataprofile import ProfileReport

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
dir(dataprofile)

['ProfileReport',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_config',
 '_monitor',
 '_profiling',
 '_var_statistics',
 'get_df_profile',
 'get_var_summary',
 'render_report',
 'reporting']

In [4]:
df = pd.read_csv('../data/titanic/train.csv')
df.shape

(891, 12)

In [5]:
report = ProfileReport()

In [6]:
report.get_params()

{'num_works': -1, 'random_state': 0, 'sample_size': -1, 'var_per_row': 6}

In [7]:
report.fit(df)

2020-04-17 at 16:45:53|INFO|Profiling variables: 100%|████████████████████████████████████████12/12

ProfileReport(num_works=-1, random_state=0, sample_size=-1, var_per_row=6)

In [8]:
report.show_report()

================================== Beginning of report ===================================

This following report is created by Gordon Chen on Friday, Apr 17, 2020

================ Table Statistics ================
+------------------+---------+
|                  |   count |
|------------------+---------|
| n_row            |     891 |
| n_col            |      12 |
| n_missing_cell   |     866 |
| n_empty_row      |       0 |
| n_duplicated_row |       0 |
| n_Useless_var    |       2 |
| n_Binary_var     |       2 |
| n_Nominal_var    |       3 |
| n_Interval_var   |       5 |
+------------------+---------+


================ Variable Summary ================
+-------------+----------+-------------+---------+-------------+-------------+------------+------------+
|             | type     | data_type   |   count |   n_missing | p_missing   |   n_unique | p_unique   |
|-------------+----------+-------------+---------+-------------+-------------+------------+------------|
| PassengerId | Useless  | Unique      |     891 |           0 | 0.00%       |        891 | 100.00%    |
| Name        | Useless  | Unique      |     891 |           0 | 0.00%       |        891 | 100.00%    |
| Survived    | Binary   | Numerical   |     891 |           0 | 0.00%       |          2 | 0.22%      |
| Sex         | Binary   | Categorical |     891 |           0 | 0.00%       |          2 | 0.22%      |
| Cabin       | Nominal  | Categorical |     891 |         687 | 77.10%      |        147 | 72.06%     |
| Ticket      | Nominal  | Categorical |     891 |           0 | 0.00%       |        681 | 76.43%     |
| Embarked    | Nominal  | Categorical |     891 |           2 | 0.22%       |          3 | 0.34%      |
| Pclass      | Interval | Numerical   |     891 |           0 | 0.00%       |          3 | 0.34%      |
| SibSp       | Interval | Numerical   |     891 |           0 | 0.00%       |          7 | 0.79%      |
| Parch       | Interval | Numerical   |     891 |           0 | 0.00%       |          7 | 0.79%      |
| Age         | Interval | Numerical   |     891 |         177 | 19.87%      |         88 | 12.32%     |
| Fare        | Interval | Numerical   |     891 |           0 | 0.00%       |        248 | 27.83%     |
+-------------+----------+-------------+---------+-------------+-------------+------------+------------+


============== Variable Statistics ===============

Useless variables:
+-----------+---------------+---------+
|           | PassengerId   | Name    |
|-----------+---------------+---------|
| count     | 891           | 891     |
| n_missing | 0             | 0       |
| p_missing | 0.00%         | 0.00%   |
| n_unique  | 891           | 891     |
| p_unique  | 100.00%       | 100.00% |
+-----------+---------------+---------+

Binary variables:
+-----------+------------+--------+
|           | Survived   | Sex    |
|-----------+------------+--------|
| count     | 891        | 891    |
| n_missing | 0          | 0      |
| p_missing | 0.00%      | 0.00%  |
| n_unique  | 2          | 2      |
| p_unique  | 0.22%      | 0.22%  |
| value1    | 0          | male   |
| n_value1  | 549        | 577    |
| p_value1  | 61.62%     | 64.76% |
| value2    | 1          | female |
| n_value2  | 342        | 314    |
| p_value2  | 38.38%     | 35.24% |
+-----------+------------+--------+

Nominal variables:
+----------------+-------------+----------+------------+
|                | Cabin       | Ticket   | Embarked   |
|----------------+-------------+----------+------------|
| count          | 891         | 891      | 891        |
| n_missing      | 687         | 0        | 2          |
| p_missing      | 77.10%      | 0.00%    | 0.22%      |
| n_unique       | 147         | 681      | 3          |
| p_unique       | 72.06%      | 76.43%   | 0.34%      |
| mode           | G6          | 1601     | S          |
| mode_freq      | 4           | 7        | 644        |
| 2nd_freq_value | C23 C25 C27 | CA. 2343 | C          |
| 2nd_freq       | 4           | 7        | 168        |
| 3rd_freq_value | B96 B98     | 347082   | Q          |
| 3rd_freq       | 4           | 7        | 77         |
+----------------+-------------+----------+------------+

Interval variables:
+--------------+----------+---------+---------+-------------+-------------+
|              | Pclass   | SibSp   | Parch   | Age         | Fare        |
|--------------+----------+---------+---------+-------------+-------------|
| count        | 891      | 891     | 891     | 891         | 891         |
| n_missing    | 0        | 0       | 0       | 177         | 0           |
| p_missing    | 0.00%    | 0.00%   | 0.00%   | 19.87%      | 0.00%       |
| n_unique     | 3        | 7       | 7       | 88          | 248         |
| p_unique     | 0.34%    | 0.79%   | 0.79%   | 12.32%      | 27.83%      |
| mean         | 2.3086   | 0.5230  | 0.3816  | 29.6991     | 32.2042     |
| std          | 0.8361   | 1.1027  | 0.8061  | 14.5265     | 49.6934     |
| variance     | 0.6990   | 1.2160  | 0.6497  | 211.0191    | 2,469.4368  |
| min          | 1        | 0       | 0       | 0.4200      | 0.0000      |
| 5%           | 1.0000   | 0.0000  | 0.0000  | 4.0000      | 7.2250      |
| 25%          | 2.0000   | 0.0000  | 0.0000  | 20.1250     | 7.9104      |
| 50%          | 3.0000   | 0.0000  | 0.0000  | 28.0000     | 14.4542     |
| 75%          | 3.0000   | 1.0000  | 0.0000  | 38.0000     | 31.0000     |
| 95%          | 3.0000   | 3.0000  | 2.0000  | 56.0000     | 112.0791    |
| max          | 3        | 8       | 6       | 80.0000     | 512.3292    |
| range        | 2        | 8       | 6       | 79.5800     | 512.3292    |
| iqr          | 1.0000   | 1.0000  | 0.0000  | 17.8750     | 23.0896     |
| kurtosis     | -1.2800  | 17.8804 | 9.7781  | 0.1783      | 33.3981     |
| skewness     | -0.6305  | 3.6954  | 2.7491  | 0.3891      | 4.7873      |
| sum          | 2,057    | 466     | 340     | 21,205.1700 | 28,693.9493 |
| mean_abs_dev | 0.7620   | 0.7138  | 0.5807  | 11.3229     | 28.1637     |
| coff_of_var  | 0.3621   | 2.1085  | 2.1123  | 0.4891      | 1.5431      |
| n_zeros      | 0        | 608     | 678     | 0           | 15          |
| p_zeros      | 0.0000   | 0.6824  | 0.7609  | 0.0000      | 0.0168      |
+--------------+----------+---------+---------+-------------+-------------+


================ Confusion Matrix ================
row:Survived - col:Sex
+----+----------+--------+
|    |   female |   male |
|----+----------+--------|
|  0 |       81 |    468 |
|  1 |      233 |    109 |
+----+----------+--------+
===================================== End of report ======================================

In [9]:
report.save_report('test.html')

Report saved to test.html

In [10]:
profile_dict = report.df_profile
profile_dict.keys()

dict_keys(['table_stats', 'var_summary', 'var_stats', 'conf_matrix'])

In [11]:
profile_dict['table_stats']

                 count
n_row              891
n_col               12
n_missing_cell     866
n_empty_row          0
n_duplicated_row     0
n_Useless_var        2
n_Binary_var         2
n_Nominal_var        3
n_Interval_var       5

In [12]:
profile_dict['var_summary']

                 type    data_type count n_missing p_missing n_unique p_unique
PassengerId   Useless       Unique   891         0     0.00%      891  100.00%
Name          Useless       Unique   891         0     0.00%      891  100.00%
Survived       Binary    Numerical   891         0     0.00%        2    0.22%
Sex            Binary  Categorical   891         0     0.00%        2    0.22%
Cabin         Nominal  Categorical   891       687    77.10%      147   72.06%
Ticket        Nominal  Categorical   891         0     0.00%      681   76.43%
Embarked      Nominal  Categorical   891         2     0.22%        3    0.34%
Pclass       Interval    Numerical   891         0     0.00%        3    0.34%
SibSp        Interval    Numerical   891         0     0.00%        7    0.79%
Parch        Interval    Numerical   891         0     0.00%        7    0.79%
Age          Interval    Numerical   891       177    19.87%       88   12.32%
Fare         Interval    Numerical   891         0     0.00%      248   27.83%

In [13]:
for k,y in profile_dict['var_stats'].items():
    print(k)
    print(y.index)

Useless
Index(['PassengerId', 'Name'], dtype='object')
Binary
Index(['Survived', 'Sex'], dtype='object')
Nominal
Index(['Cabin', 'Ticket', 'Embarked'], dtype='object')
Interval
Index(['Pclass', 'SibSp', 'Parch', 'Age', 'Fare'], dtype='object')